// Place all the styles related to the labels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the label controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-xs {
  padding: 0px 5px !important;
  font-size: 11px !important;
}

.add-label {
  margin-right: 5px;
}

.color-default {
  background-color: #666666 !important;
  color: white;
}

.color-blue {

  background-color: dodgerblue !important;
  color: white;
}

.color-white {
  border: 1px solid black !important;
  background-color: white !important;
  color: black !important;

}

.color-yellow {
  background-color: gold !important;
  color: black;
}

.color-red {
  background-color: darkred !important;
  color: white;
}

.color-orange {
  background-color: orangered !important;
  color: white;
}

.color-green {
  background-color: darkgreen !important;
  color: white;
}

.color-black {
  background-color: black !important;
  color: white;
}

.color-purple {
  background-color: purple !important;
  color: white;
}

.color-brown {
  background-color: saddlebrown !important;
  color: white;
}

.color-grey {
  background-color: #2E2F30 !important;
  color: white;
}

.color-pink {
  background-color: hotpink !important;
  color: black;
}